[Unit]
Description=HAL9000 time sync
After=time-sync.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mosquitto_pub -t 'hal9000/event/system/time/synced' -m ''
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
