{% set day_of_week = {
    "0": "Sonntag",
    "1": "Montag",
    "2": "Dienstag",
    "3": "Mittwoch",
    "4": "Donnerstag",
    "5": "Freitag",
    "6": "Samstag"
    }[weekday] | default("")
-%}

{% set month_word = {"01": "Januar", "02": "Februar", "03": "März", "04": "April", "05": "Mai", "06": "Juni", "07": "Juli", "08": "August", "09": "September", "10": "Oktober", "11": "November", "12": "Dezember"}[month] | default("") -%}

{% set day_month_formated = {
    "01": "Ersten",
    "02": "Zweiten",
    "03": "Dritten",
    "04": "Vierten",
    "05": "Fünften",
    "06": "Sechsten",
    "07": "Siebten",
    "08": "Achten",
    "09": "Neunten",
    "10": "Zehnten",
    "11": "Elften",
    "12": "Zwölften",
    "13": "Dreizehnten",
    "14": "Vierzehnten",
    "15": "Fünftzehnten",
    "16": "Sechszehnten",
    "17": "Siebtzehnten",
    "18": "Achtzehnten",
    "19": "Neunzehnten",
    "20": "Zwanzigsten",
    "21": "Einundzwanzigsten",
    "22": "Zweiundzwanzigsten",
    "23": "Dreiundzwanzigsten",
    "24": "Vierundzwanzigsten",
    "25": "Fünfundzwanzigsten",
    "26": "Sechsundzwanzigsten",
    "27": "Siebenundzwanzigsten",
    "28": "Achtundzwanzigsten",
    "29": "Neunundzwanzigsten",
    "30": "Dreissigsten",
    "31": "Einunddreissigsten",

}[day_month] | default("") -%}

Wir haben {{ day_of_week }} den {{ day_month_formated }} {{ month_word }} {{ year }}
